@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #f7f9fd;
}

.wrapper
{
    width: 90%;
    font-size: 16px;
    max-width: 43.753m;
    margin: 1em auto;
    background: linear-gradient(135deg, #6C63FF, #52A8FF);
}

.container
{
    width: 100%;
}

.sub-container
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.flex
{
    display: flex;
    align-items: center;
}

.flex-space
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper h3
{
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.container input
{
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}

.container input:focus
{
    border-color: #587ef4;
}

.total-amount-container, .user-amount-container
{
    background: #fff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.total-amount-container h3
{
    font-size: 24px;
}

#total-amount
{
    height: 46%;
    font-size: 30px;
}

.output-container
{
    background-color: #587ef4;
    color: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
}

.output-container p
{
    font-weight: 500;
    margin-bottom: 0.6em;
}

.output-container span
{
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}

.submit
{
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #587ef4;
    border: none;
    outline: none;
    color: #fff;
    padding: 0.6em 1.2em;
    cursor: pointer;
}


.list
{
    background-color: #fff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
}

.sublist-container
{
    width: 100%;
    border-left: 0.3em solid #587ef4;
    margin-bottom: 0.6em;
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
}

.product
{
    font-weight: 500;
    color: #363d55;
}

.amount
{
    color: #414a67;
    margin-left: 20%;
}

.icons-container{
    width: 5em;
    margin: 1.2em;
    align-items: center;
}

.product-title{
    margin-bottom: 1em;
}

.hide{
    display: none;
}

.error {
    color: #ff465a;
    font-size: 14px;
    margin-top: 0.2em;
}

.edit{
    margin-left: auto;
}

.edit, .delete{
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #587ef4;
}

.submit, .edit, .delete {
    background-color: #FF847C;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover, .edit:hover, .delete:hover {
    background-color: #FF6B6B;
}

#expense-category
{
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}

.summary {
    padding: 2em;
    text-align: center;
}

.summary h2 {
    color: #363D55;
    font-size: 24px;
    margin-bottom: 1em;
}

.chart-container {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .wrapper{
        font-size: 14px;
    }

    .sub-container{
        grid-template-columns: 1fr;
        gap: 1em;
    }
}